
# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:ByzeLy
ErrorDocument 403 /403.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE ByzeLy:ERRORPAGEID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:BataVa
ErrorDocument 404 /404.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE BataVa:ERRORPAGEID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW REDIRECTID:aSymuHyvyL
RewriteEngine on
RewriteCond %{HTTP_HOST} ^laruta33.com.ar$ [OR]
RewriteCond %{HTTP_HOST} ^www.laruta33.com.ar$
RewriteRule ^$ http://laruta33.com.ar/web/ [R=301,L]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE aSymuHyvyL:REDIRECTID

Options All -Indexes
